<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sākums</title>
	<link rel="stylesheet" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
    <div th:insert="~{fragments/header :: header}"></div>
	<div class="content">
	    <h3 style="text-align: center;">Laipni lūdzam sistēmā automātiskai nodarbību grafiku ģenerēšanai</h3>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>